*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* index.css */
:root {
  --background-color: rgb(228, 228, 228)
  --text-color: #000000;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #00adb5;
  --secondary-color: #ff5722;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}



  /* Use the theme variables for other elements */
  button {
    background-color: var(--primary-color);
    color: var(--text-color);
    z-index: 9999;
    position: absolute;
  }
  